__pycache__/
*py[cod]
*$py.class

*.so

.env/
.venv/
env/
venv/
*.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

progress/
logs/
experiments/**/logs/
experiments/**/checkpoints/
*.log
.hypothesis/
.mypy_cache/
.pytest_cache/


data/raw/
data/processed/
*.csv
*.tsv
*.jsonl

~/.cache/huggingface/
**/cache/
**/checkpoints/

lightning_logs/
wandb/

*.tar
docker-compose.override.yml

.ipynb_checkpoints/
*.nbconvert.*

build/
dist/
*.egg-info/
.eggs/
*.whl

pip-selfcheck.json

*.swp
*~