__pycache__/
.benchmarks/
.hydra/
.hypothesis/**
.pytest_cache/
/artifacts/model/**
/tensorboard/**

/data/

!data/processed/subset/train_100k.csv
!data/processed/subset/val_100k.csv
!data/processed/subset/test_100k.csv

!tests/data/
!tests/data/**/

experiments/**
!experiments/*.py
notebooks/
outputs/
wandb/
tmp_trainer/

artifacts/models/**

.fmleignore
*.sh

*.lock

from_tensorboard_to_wandb.py
document.md

tests/data/test_dup_gid_roundtrip.py
tests/data/__pycache__/

AGENTS.md